In [2]:
import quandl
import pandas as pd
import numpy as np
import datetime

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing, cross_validation, svm

/home/pssys-49/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = quandl.get("WIKI/AMZN")

In [4]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1997-05-16,22.38,23.75,20.50,20.75,1225000.0,0.0,1.0,1.865000,1.979167,1.708333,1.729167,14700000.0
1997-05-19,20.50,21.25,19.50,20.50,508900.0,0.0,1.0,1.708333,1.770833,1.625000,1.708333,6106800.0
1997-05-20,20.75,21.00,19.63,19.63,455600.0,0.0,1.0,1.729167,1.750000,1.635833,1.635833,5467200.0
1997-05-21,19.25,19.75,16.50,17.13,1571100.0,0.0,1.0,1.604167,1.645833,1.375000,1.427500,18853200.0
1997-05-22,17.25,17.38,15.75,16.75,981400.0,0.0,1.0,1.437500,1.448333,1.312500,1.395833,11776800.0

In [5]:
df = df[['Adj. Close']]

In [6]:
#We want to predict 30 days into the future, so we’ll set a variable forecast_out equal to that. 
forecast_out = int(30) # predicting 30 days into future
df['Prediction'] = df[['Adj. Close']].shift(-forecast_out) #  label column with data shifted 30 units up

In [7]:
print(df.tail())

            Adj. Close  Prediction
Date
2018-03-21     1581.86         NaN
2018-03-22     1544.10         NaN
2018-03-23     1495.56         NaN
2018-03-26     1555.86         NaN
2018-03-27     1497.05         NaN

In [8]:
#Our X will be an array consisting of our Adj. Close values, and so we want to drop the Prediction column
X = np.array(df.drop(['Prediction'], 1))
#scakle the data
X = preprocessing.scale(X)

In [9]:
X_forecast = X[-forecast_out:] # set X_forecast equal to last 30
X = X[:-forecast_out] # remove last 30 from X

In [10]:
#To define our y, or output, we will set it equal to our array of the Prediction values and remove the last 30 days where we don’t have any pricing data.
y = np.array(df['Prediction'])
y = y[:-forecast_out]

In [11]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size = 0.2)

In [12]:
#To make the model
clf = LinearRegression()
clf.fit(X_train,y_train)
# Testing . how far the predicted price was compared to the actual price in the test data set.
confidence = clf.score(X_test, y_test)
print("confidence: ", confidence)

confidence:  0.986982234501

In [13]:
#to  predict our X_forecast values:mport matplotlib.pyplot as plt
plt.plot(forecast_prediction)
plt.ylabel('Adj. Close')
plt.xlabel('Date')
forecast_prediction = clf.predict(X_forecast)
print(forecast_prediction)

[ 1497.18877809  1535.94451499  1547.30395512  1533.44140774  1554.29356394
  1569.74706932  1571.69864447  1587.86277776  1611.14379651  1600.56922899
  1601.06772917  1580.91559449  1588.12793743  1612.90445669  1627.7852172
  1635.59151779  1642.86749905  1671.53656222  1692.21901624  1681.38989544
  1684.38089649  1675.17455285  1663.88935743  1635.51727308  1679.61862887
  1674.68665907  1634.63694299  1583.15354208  1647.11005372  1584.73389369]

In [17]:
import matplotlib.pyplot as plt
plt.plot(forecast_prediction)
plt.ylabel('Adj. Close')
plt.xlabel('Date')

Text(0.5,0,'Date')

In [16]:
df.head()

            Adj. Close  Prediction
Date
1997-05-16    1.729167    1.541667
1997-05-19    1.708333    1.515833
1997-05-20    1.635833    1.588333
1997-05-21    1.427500    1.911667
1997-05-22    1.395833    2.000000